#header-nav {
    background-color: #001F3F;
    margin: 13px 20px 13px 20px;
    height: 82.75px;
    border-radius: 80px;
    flex-basis: -10px;
}

#navbarNavDropdown{
    margin: 0px 18px;
}
#navbarNavDropdown a {
    color: #2389FC;
    font-size: 16px;
}
#navbarNavDropdown li {
    padding: 0px 15px;
}

.dropdown-arrow {
    font-size: 0.4em;
    vertical-align: middle;
}
  